{% extends 'base.html' %}

{% block content %}
    <!-- About Us Section -->
    <section class="about-hero" style="background-color: #f2fafd; color: #000; font-size: 25px; padding-left: 0; padding-right: 0;">
        <div class="col-md-11">

            <div class="container col-md-12 pt-2 font-fm">
            <h1 id="about-us" class="about-hero-h1" style="font-family:Verdana; padding-top: 40px; padding-bottom: 40px; font-size: 50px; color: rgb(0, 212, 255); text-align: center;">NGWALA INVENTIONS</h1>
            <ul class="list-unstyled">
                <p class="paragraph" style="font-size: 29px; padding-bottom: 10px; margin-left: 50px;">
                Ngwala Inventions is a Bio-tech and Agri-tech Company registered in Tanzania since 2020, with the purpose of making organic farming more profitable and protecting the environment. The Company uses organic wastes such as garbage, fruit peels, and animal urine mixed with botanical extracts to form two-in-one organic pesticides and fertilizers (Ngwala Organics). The product is produced without energy consumption using complex natural enzymatic processes, microbes, and green nanotechnology. The low-cost Ngwala Organics serves as the best and most effective organic pesticide and fertilizer for sustainable farming compared to the usual chemical pesticides and fertilizers. It supports human safety, soil fertility, increasing plant and soil capacity to retain water, and conserving biodiversity, resulting in human and environmental safety, high yields, and climate sequestration.
                </p>
                <p class="paragraph" style="font-size: 29px; padding-bottom: 10px; margin-left: 50px;">
                Not only does the Company produce organic pesticides and fertilizer, but it also designs, manufactures, and deploys Ngwala Smart vending machines at a large scale used to deliver high-quality organic pesticides and fertilizers to small-holder farmers on the farm, on a refilling basis, on demand, on a pay-as-you-farm basis, and at the lowest cost. The machines are connected to a mobile app to allow smallholder farmers to track expenditures, quantities, and impacts. The system delivers high-quality organic pesticides and fertilizers and provides easy access to farm inputs, allowing farmers to pay via mobile money and receive the exact quantities and refill containers for zero waste farming.
                </p>
                <p class="paragraph" style="font-size: 29px; padding-bottom: 10px; margin-left: 50px;">
                Since establishment, the company has helped more than 500,000 smallholder farmers in Tanzania lower crop production costs by 30% and increase yields from 1.5 tons to 3 tons per hectare. Our customers/smallholder farmers have managed to increase their incomes and yields, enabling them to shift from living under $1 to over $5 per day. At the same time, the environmental pollution caused by poor farming activities has been reduced by 90%.
                </p>
            </ul>
            </div>
        </div>
    </section>
{% endblock %}
