{% extends 'base.html' %}

{% block content %}
<style>
    .paragraph{
        font-size: 29px;
        margin-left: 50px;
        margin-right: 15px;
    }
</style>
        <!-- <div class="container col-md-12 pt-2 font-fm"> -->
            <section class="efforts-section container col-md-12 pt-2 font-fm" style="background-color: #f2fafd; color: black; padding: 20px; text-align: left;">
                <h2 style="font-family:Verdana; padding-top: 30px; font-size: 50px; color: rgb(0, 212, 255); text-align: center;">Efforts</h2>
                <p class="paragraph">We work tirelessly to solve </p>
                <ul class="list-unstyled">
                    <p class="paragraph">
                        Chemical exposure of pesticides and fertilizers causes 385 million cases of acute poisoning annually, with approximately an average of 200,000 deaths (UNEP, 2020). This means 60% of the global populations working on farms are poisoned every year. This is a serious issue especially in Developing Countries where 70% of the population depends on agriculture (FAO, 2021) and 90% of the populations are poisoned. Not only causes human poisoning but also loss of biodiversity and soil infertility, causing farmers to lose potential yields by 50% (FAO, 2021). In addition, chemical pesticides & fertilizer cause climate change, land and water pollution including killing of mangroves and coral reefs/OCEANS when they enter water sources.
                    </p>
                    <p class="paragraph">
                        Organic farm inputs (pesticide and fertilizer) are sold long distances from farms and at a high price; this increases the cost of crop production and discourages farmers from using quality organic pesticides and fertilizers, lowering potential yields by 50%. (FAO, 2020) - Each season, a farmer loses 480 hours and pays a travel cost of $700.
                    </p>
                    <p class="paragraph">
                        According to the United Nations’ Food and Agriculture Organization (FAO, 2021), the earth’s soils may be more saturated with plastic pollution than oceans and an estimated 80 percent of plastics found in marine environments are first disposed off on land. Agricultural production is a growing source of global plastic use, accounting for 3.5 percent of global plastic production, according to the FAO report. The report estimates that in 2019, the agriculture sector used 12.5 million tons of plastic, with crop and livestock sectors accounting for 10 million tons. In developing Countries pesticides and fertilizer empty containers are dumped in landfills and other general waste collection sites by farmers. Most of these sites aren't designed to prevent toxic materials from leaking into the ground or being washed out by rain into water bodies / OCEANS interfering coral production and mangroves (FAO, 2020).
                    </p>
                </ul>
            </section>
        <!-- </div> -->
{% endblock %}
