{% extends 'base.html' %}
{% block content %}
<div class="container mt-4 col-md-11">

      <div class="container text-center pt-5 mt-5">
        <a href="{% url 'farmer-registration' %}" class="btn btn-primary">Register Farmer</a>
      </div>

      <h1>Farmer List</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Call/Phone</th>
            <th scope="col">Aina ya Zao</th>
            <th scope="col">Aina ya Zao</th>
            <th scope="col">Aina ya Zao</th>
            <th scope="col">Farm Size</th>
            <th scope="col">Nation</th>
            <th scope="col">Jiji/Mkoa</th>
            <th scope="col">Wilaya</th>
            <th scope="col">Kata</th>
            <th scope="col">Kijiji</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for farmer in farmers %}
          <tr>
            <td>{{ farmer.first_name }}</td>
            <td>{{ farmer.last_name }}</td>
            <td>{{ farmer.gender }}</td>
            <td>{{ farmer.phone_no1 }}</td>
            <td>{{ farmer.crop_type1 }}</td>
            <td>{{ farmer.crop_type2 }}</td>
            <td>{{ farmer.crop_type3 }}</td>
            <td>{{ farmer.farm_size }} acres</td>
            <td>{{ farmer.nation }}</td>
            <td>{{ farmer.region }}</td>
            <td>{{ farmer.district }}</td>
            <td>{{ farmer.ward }}</td>
            <td>{{ farmer.village }}</td>
            <td>
              <a href="{% url 'farmer-detail' pk=farmer.pk %}"><i class="fa-solid fa-eye" style="color: #2268e2;"></i></a>
              <a href="{% url 'farmer-edit-info' farmer_id=farmer.pk %}"><i class="fa-solid fa-pen-to-square" style="color: #2268e2;"></i></a>
              <a href="{% url 'farmer-deletion' farmer_id=farmer.pk %}"><i class="fa-solid fa-trash-can" style="color: #ec0404;"></i></a>
            </td>
          </tr>
          {% empty %}
            <tr>
                <td colspan="14">No Farmer available.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <div class="pagination mt-4">
        <span class="step-links">
            {% if farmers.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ farmers.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ farmers.number }} of {{ farmers.paginator.num_pages }}.
            </span>

            {% if farmers.has_next %}
                <a href="?page={{ farmers.next_page_number }}">next</a>
                <a href="?page={{ farmers.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
      </div>
</div>
{% endblock content %}