{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Edit Farmer Details</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row mt-4">
            <div class="col-md-6">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div class="col-md-6">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
            <div class="col-md-6">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
            <div class="col-md-6">
                {{ form.gender.label_tag }}
                {{ form.gender }}
            </div>
            <div class="col-md-6">
                {{ form.d_o_b.label_tag }}
                {{ form.d_o_b }}
            </div>
            <div class="col-md-6">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="col-md-6">
                {{ form.address.label_tag }}
                {{ form.address }}
            </div>
            <div class="col-md-6">
                {{ form.phone_no1.label_tag }}
                {{ form.phone_no1 }}
            </div>
            <div class="col-md-6">
                {{ form.farm_size.label_tag }}
                {{ form.farm_size }}
            </div>
            <div class="col-md-6">
                {{ form.crop_type1.label_tag }}
                {{ form.crop_type1 }}
            </div>
            <div class="col-md-6">
                {{ form.crop_type2.label_tag }}
                {{ form.crop_type2 }}
            </div>
            <div class="col-md-6">
                {{ form.crop_type3.label_tag }}
                {{ form.crop_type3 }}
            </div>
            <div class="col-md-6">
                {{ form.nation.label_tag }}
                {{ form.nation }}
            </div>
            <div class="col-md-6">
                {{ form.region.label_tag }}
                {{ form.region }}
            </div>
            <div class="col-md-6">
                {{ form.ward.label_tag }}
                {{ form.ward }}
            </div>
            <div class="col-md-6">
                {{ form.district.label_tag }}
                {{ form.district }}
            </div>
            <div class="col-md-6">
                {{ form.village.label_tag }}
                {{ form.village }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
    </form>
</div>
{% endblock content %}
