{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Geo-Locations List</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Region</th>
                <th scope="col">City</th>
                <th scope="col">Street</th>
            </tr>
        </thead>
        <tbody>
            {% for location in geolocations %}
            <tr>
                <td>{{ location.lat_position }}</td>
                <td>{{ location.long_position }}</td>
                <td>{{ location.Region }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.street }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No geo-locations available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
