{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="col-12 mb-5 grid-margin stretch-card" style="padding-top: 50px;">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Form</h4>
                
                <form method='POST' class="forms-sample" >
                    {% csrf_token %}

                 
                  <div class="form-group">
                    <label for="gender">description:</label>
                    <textarea class="form-control" name="descriptionSecond" rows="4">{{s.descriptionSecond}}</textarea>
                  </div>
                  <br>
                  
                  <button type="submit" class="btn btn-success mr-2">Submit</button>
                  
                </form>


                <a href="{% url 'purpose' %}">
                  <button class="btn btn-light">Cancel</button>
              </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}