{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- VIDEO -->
    {% for i in x %}

    <div class="container mt-3">
            <div class="row justify-content-between align-items-center">
                <video class="video" src="{{ i.video_file.url }}" controls></video>
            </div>
            {% if user.is_superuser %}
                    <a href="{% url 'purposeVideoEdit' i.id %}">
                        <button class="btn btn-success">Change Video</button>
                    </a>
            {% endif %}
            
    </div>


    <!-- HERO -->
    {% for frontpage in frontpages %}
    <section id="hero" class="min-vh-100 d-flex align-items-center text-center" style="background: linear-gradient(rgba(144, 238, 144, 0.507), rgba(46, 139, 87, 0.438)), url({{frontpage.image.url}})">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 data-aos="fade-left" class="text-uppercase text-white fw-semibold display-1">{{frontpage.header}}</h1>
                    <h5 class="text-white mt-3 mb-4" data-aos="fade-right">{{frontpage.body}}</h5>
                    {% if user.is_doctor or user.is_laboratorist or user.is_receptionist or user.is_pharmacist %}
                    <a href="{% url 'home' %}" class="btn btn-brand me-2">STAFF PAGE</a><br>
                    {% else%}
                    <div data-aos="fade-up" data-aos-delay="50">
                        {% if user.is_authenticated %}
                        <a href="{% url 'sickinfo' %}" class="btn btn-brand me-2">REPORT A DISEASE</a>
                        {% else %}
                        <a href="{% url 'signin' %}" class="btn btn-brand me-2">SIGN IN TO REPORT A DISEASE</a>
                        {% endif %}
                        <a href="#portfolio1" class="btn btn-light ms-2">Our Portfolio</a>
                    </div>
                    {% endif %}
                    <br>

                    <a href="{% url 'frontPageedit' frontpage.id %}" class="btn btn-brand me-2">EDIT</a>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

    

    <section id="hero" class="min-vh-100 d-flex align-items-center text-center" style="background: linear-gradient(rgba(144, 238, 144, 0.507), rgba(46, 139, 87, 0.438)), url({{frontpage.image.url}})">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 data-aos="fade-left" class="text-uppercase text-alert fw-semibold mt-5 mb-5">
                        {{i.header}}
                    </h2>
                    <h4 class="text-white mt-5 mb-5" data-aos="fade-right">
                        {{i.subheader}}
                    </h4>
                    <h3 class="text-black mt-3 mb-4" data-aos="fade-right">
                        {{i.description}}
                    </h3>

                    {% if user.is_superuser %}
                    <a href="{% url 'purposeFirst' i.id%}">
                        <button class="btn btn-success">Edit</button>
                    </a>
                    {% endif %}

                    <br>
                </div>
            </div>
        </div>
    </section>
    


    <section id="second" class="min-vh-100 d-flex align-items-center bg-success">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                    <h2 class="text-white text-center" data-aos="fade-right">
                        {{i.descriptionSecond}}
                    </h2>
                    
                    <center>
                        {% if user.is_superuser %}
                        <a href="{% url 'purposeSecond' i.id%}">
                            <button class="btn btn-light">Edit</button>
                        </a>
                        {% endif %}
                    </center>
                    
                    <br>
                </div>
            </div>
        </div>
    </section>
    


    <section id="blog" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Problem</h1>
                        <div class="line"></div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    
                    <h2 class="text-black text-center" data-aos="fade-right">
                        {{i.problem}}
                    </h2>

                    <center>
                        {% if user.is_superuser %}
                        <a href="{% url 'purposeProblem' i.id%}">
                            <button class="btn btn-success">Edit</button>
                        </a>
                        {% endif %}
                        </center>
                    
                    <br>
                </div>
            </div>
            
        </div>
    </section>

    <section id="blog" class="section-padding bg-light">
        <div class="container">
            
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Solution</h1>
                        <div class="line"></div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    
                    <h2 class="text-black" data-aos="fade-right">
                        {{i.solution}}
                    </h2>

                    <center>
                        {% if user.is_superuser %}
                        <a href="{% url 'purposeSolution' i.id%}">
                            <button class="btn btn-success">Edit</button>
                        </a>
                        {% endif %}
                    </center>
                    
                    <br>
                </div>
            </div>
            
        </div>
    </section>
    {% endfor %}



    <section id="blog" class="section-padding bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                    <div class="section-title">
                        <h1 class="display-4 fw-semibold">Purpose & Success Reached</h1>
                        
                        
                    </div>
                </div>
            </div>
            <div class="row">


                <div class="col-md-6" data-aos="fade-down" data-aos-delay="150">
                    <div class="team-member image-zoom ">
                        
                        <div class="section-title">
                            <h5 class="text-center">Purpose</h5>
                            <div class="line"></div>
                        </div>
                        <div class="round">
                            {% for i in purposes %}
                            <p class="bg-dark p-4 text-white">
                                {{i.description}}
                                {% if user.is_superuser %}
                                    <a href="{% url 'purposeEdit' i.id %}">
                                        <button class="btn btn-success">Edit</button>
                                    </a>
                                    <a href="{% url 'purposeDelete' i.id %}">
                                        <button class="btn btn-success">Delete</button>
                                    </a>
                                {% endif %}
                            </p>
                            
                            {% endfor %}

                            {% if user.is_superuser %}
                                <a href="{% url 'purposeAdd' %}">
                                    <button class="btn btn-success">+ Add</button>
                                </a>
                            {% endif %}

                        </div>
                    </div>
                </div> 

                <div class="col-md-6" data-aos="fade-down" data-aos-delay="150">
                    <div class="team-member image-zoom">
                        
                        <div class="section-title">
                            <h5 class="text-center">Success</h5>
                            <div class="line"></div>
                        </div>
                        <div class="round">
                            {% for i in success %}
                            <p class="bg-dark p-4 text-white">
                                {{i.description}}
                                {% if user.is_superuser %}
                                    <a href="{% url 'purposeSuccessEdit' i.id %}">
                                        <button class="btn btn-success">Edit</button>
                                    </a>
                                    <a href="{% url 'purposeSuccessDelete' i.id %}">
                                        <button class="btn btn-success">Delete</button>
                                    </a>
                                {% endif %}
                            </p>
                            {% endfor %}

                            {% if user.is_superuser %}
                                <a href="{% url 'purposeSuccessAdd' %}">
                                    <button class="btn btn-success">+ Add</button>
                                </a>
                            {% endif %}

                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>

{% endblock %}
