{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mt-4 mb-4">User Transaction Detail</h2>
    
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Reference No:</dt>
                <dd class="col-sm-8">{{ user_transaction.ref_number }}</dd>
                
                <dt class="col-sm-4">Card Number:</dt>
                <dd class="col-sm-8">{{ user_transaction.uid }}</dd>
                
                <dt class="col-sm-4">Amount deducted:</dt>
                <dd class="col-sm-8">{{ user_transaction.fertilizer_cost }} Tsh</dd>
                
                <dt class="col-sm-4">Volume taken:</dt>
                <dd class="col-sm-8">{{ user_transaction.fertilizer_taken }} Litres</dd>
                
                <dt class="col-sm-4">Created Date:</dt>
                <dd class="col-sm-8">{{ user_transaction.created_date }}</dd>
            </dl>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-12">
            <a href="{% url 'user-transaction-list' %}" class="btn btn-primary">Back to your Transactions</a>
        </div>
    </div>
</div>
{% endblock content %}
